<div class="hero">
    <br>
    <div class="frosty col-4 offset-4">
        <h1>Strange World</h1>
        <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    </div>
</div>
<br>
<div class="container">
    <div class="row feature text-center">
        <div class="col-4">
            <h3>Amazing Videos</h3>
            <p>Watch any and all Iron Maiden related videos.</p>
        </div>
        <div class="col-4">
            <h3>Learn at Your Own Pace</h3>
            <p>Learn at your own pace.</p>
        </div>
        <div class="col-4">
            <h3>Join Our Community</h3>
            <p>Join the Strange World community and share in the awesomeness that is Iron Maiden.</p>
            <p>Up the Irons!</p>
        </div>
    </div>
</div>