<div class="box col-10 offset-1">
    <h1 class="text-center">Learn Something Today</h1>
    <% @compilations.each do |compilation| %>
        <h2 class="text-center"><%= link_to compilation.title, compilation_path(compilation) %></h2>
        <%= image_tag compilation.image %>
        <div class="row">
        <div class="col-8 offset-2">
            <%= compilation.description %>
        </div>
        <div class="col-8 offset-2">
            <%= link_to 'More', compilation_path(compilation), class: 'btn' %>
        </div>
        <hr class='col-4 offset-4'>
        </div>
        <br class='clr'>
    <% end %>
</div>